<html>
<head>
  <title>Do it for the brotein</title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="/javascripts/angularApp.js"></script>
  <style> .glyphicon-thumbs-up { cursor:pointer } </style>
  <style> #silly > img { height: 200px; width: 200px; } </style>
</head>
<body ng-app="weights">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ui-view></ui-view>
    </div>
  </div>
  <script type="text/ng-template" id="/home.html">
    <div class="page-header">
      <h1>GAINS!!!</h1>
    </div>
    <div id="silly">
      <img src="./images/squat.png">
      <img src="./images/bench.png">
      <img src="./images/deadlift.png">
      <img src="./images/barbellrow.png">
      <img src="./images/shoulderpress.png">
    </div>
    <h2> The friends and family </h2>
    <div ng-show="users.length" ng-repeat="user in users track by $index">
      <a href="#/users/{{user._id}}">{{user.name}}</a>
    </div>
    <h4> Are you new here? Make an account here! </h4>
    <form ng-submit="addUser()">
      <input type="text" ng-model="name" placeholder="Your name?"></input>
      <button type="submit">Go!</button>
    </form>
    <div ng-show="!users.length">
      No users :S
    </div>
  </script>
  <script type="text/ng-template" id="/user.html">
    <div class="page-header">
      <h3>User Page</h3>
    </div>
    <div>
      Hey there {{user.name}}! How's it going?
    </div>
    <h3>Stats</h3>
    <div id="stats">
      <table class="table">
	  <td>Squat</td>
          <td>{{user.squat}}</td>
        </tr>
        <tr>
	  <td>Bench</td>
          <td>{{user.bench}}</td>
        </tr>
        <tr>
	  <td>Deadlift</td>
          <td>{{user.deadlift}}</td>
        </tr>
        <tr>
	  <td>Barbell Row</td>
          <td>{{user.barbellrow}}</td>
        </tr>
        <tr>
	  <td>Shoulder Press</td>
          <td>{{user.shoulderpress}}</td>
        </tr>
      </table>
      <a href="#/users/{{user._id}}/edit">Edit your stats</a>
    </div>
  </script>
  <script type="text/ng-template" id="/edit.html">
    <div class="page-header">
      <h1>Edit your stats!</h1>
    </div>
    <div>
    </form>
      <form ng-submit="editUserNumbers()">
        <table class="table">
	  <tr>
	    <th>Exercise</th>
	    <th>Weight in PWNS (increments of 2.5)</th>
	  </tr>
	  <tr>
            <td><label>Squat</label></td>
	    <td><input type="number" min="0" max="500" step="2.5" ng-model="squat" placeholder="{{user.squat}}"></input></td>
	  </tr>
	  <tr>
            <td><label>Deadlift</label></td>
	    <td><input type="number" min="0" max="500" step="2.5" ng-model="deadlift" placeholder="{{user.deadlift}}"></input></td>
	  </tr>
	  <tr>
            <td><label>Barbellrow</label></td>
	    <td><input type="number" min="0" max="500" step="2.5" ng-model="barbellrow" placeholder="{{user.barbellrow}}"></input></td>
	  </tr>
	  <tr>
            <td><label>Shoulder Press</label></td>
	    <td><input type="number" min="0" max="500" step="2.5" ng-model="shoulderpress" placeholder="{{user.shoulderpress}}"></input></td>
	  </tr>
	  <tr>
            <td><label>Bench</label></td>
	    <td><input type="number" min="0" max="500" step="2.5" ng-model="bench" placeholder="{{user.bench}}"></input></td>
	  </tr>
	</table>
        <button type="submit">Submit changes!</button>
      </form>
    </div>
  </script>
</body>
</html>
